@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
}
.app-container {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #1a202c, #2d3748, #1a202c);
}
.table-container {
  background: #1f2937;
  border: 1px solid #374151;
}
tr:hover {
  background: #2d3748;
}

.material-icons {
  font-size: 20px;
  color: #ffffff;
}
